/* signupform.css */
.custom-signup-button {
    display: block; /* Ensure the button is displayed */
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    padding-bottom: 16px;/* Padding for the button */
    width: 100%; /* Full width */
    font-size: 16px; /* Font size */
    border-radius: 12px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
    border: none; /* No border */
    text-align: center; /* Center text */
  }
  