/* SignupPage.css */
.main-container {
    padding-bottom: 16px;
    position: relative;
    margin: auto;
    width: 100%;
    max-width: none;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: row;
  }
  
  .left-panel, .signup-form {
    flex: 1;
  }
  