.card {
    background-color: #fff;
    border: 1px solid #00000005;
    border-radius: 19px;
    overflow: hidden;
    box-shadow: 0 4px 4px #00000005;
  }
  
  .cardImage {
    aspect-ratio: 1.39;
    object-fit: contain;
    width: 100%;
    border-radius: 19px 19px 0 0;
  }
  
  .cardContent {
    padding: 14px 15px;
  }
  
  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
    font-size: 14px;
    line-height: 1;
  }
  
  .tagContainer {
    display: flex;
    gap: 4px;
  }
  
  .tag {
    color: #fff;
    background-color: #000;
    border-radius: 100px;
    padding: 4px 12px;
    font-family: Inter, sans-serif;
    font-weight: 500;
  }
  
  .location {
    color: #000;
    font-family: Lato, sans-serif;
    font-weight: 400;
    margin: 0;
  }
  
  .title {
    color: #000;
    margin: 13px 0;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
  }
  
  .performerInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 57px;
    margin: 6px 0;
    font-size: 14px;
    line-height: 1;
  }
  
  .performer {
    font-family: Inter, sans-serif;
    font-weight: 500;
    margin: 0;
  }
  
  .priceContainer {
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: Lato, sans-serif;
    font-weight: 400;
  }
  
  .price {
    margin: 0;
  }
  
  .priceIcon {
    aspect-ratio: 1;
    object-fit: contain;
    width: 30px;
  }
  
  .description {
    color: #505156;
    margin: 6px 0 0;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  
  @media (width <= 991px) {
    .cardContent {
      padding: 10px;
    }
  }
  